doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
		script(src='/javascripts/global.js')
		script(src='/javascripts/date.js')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/bootstrap.js')
		if user.privilege == 'Enforced'
			script(src='/javascripts/manager.js')
	body
		block content