doctype html
html
	script.
		alert("Upload Successful!");
<<<<<<< HEAD
		window.location='http://localhost:3000';
=======
		window.location='http://time-to-work.herokuapp.com/';
>>>>>>> 65c5780ed2c99c1109b223c6aa5ba589e422d07b
